body{
    font-family: 'Noto Sans Display';
    font-style: normal;
    font-weight: 400;
}

.work{
    text-align: center;
}

.wrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 102px);
    max-width: 1290px;
    margin: 0 auto;
    padding: 0 20px;
}

.content_line{
    position: relative;
}

.content_image_normal{
    max-width: 100%;
}

.content_text_normal{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row: 2/6;
    padding: 0 10px;
}

.content_title{
    color: #000;
font-size: 48px;
font-style: normal;
font-weight: 400;
line-height: 150%;
text-transform: uppercase;
white-space: nowrap;
width: 50vw;
}

.hidden_box{
    max-width: 690px;
    overflow: hidden;
}

.black{
    position: relative;
    z-index: 20;
}

.white{
    position: absolute;
    top: 0px;
    left: 0;
    color: #fff;
    z-index: 3;
}

.paragraph{
    max-width: 520px;
    padding: 0 30px;
    border-left: 1px solid #000;
}

.mt{
    margin-top: 60px;
}

.content_text_reverse{
    grid-column: 2 / 3 ;
    grid-row: 2/6;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
}

.content_line_reverse{
    position: relative;
}

.reverse{
    transform: translateX(-12vw);
}

.normal{
    transform: translate(60px, 0);
}

.image{
    max-width: 100%;
}

.content_title_sup{
    font-size: 20px;
    padding-right: 10px;
}

@media (max-width: 1500px) {
    .reverse{
        transform: translateX(calc(-25vw + (-12.5 + -25)*((100vw - 1000px)/(1500 - 1000))));
    }
}

@media (max-width: 1150px) {
    .content_title{
        font-size: calc(30px + (48 - 30)*((100vw - 800px)/(1150 - 320)));
    }
}

@media (max-width: 890px) {
    .content_text_normal, .content_text_reverse{
        display: flex;
        justify-content: center;
        align-items: center;
        grid-row: 5/6;
        grid-column: 1/3;
    }
    .wrapper{
        grid-template-rows: none;
        grid-auto-rows:repeat(5, 102px);
    }
}

@media (max-width: 700px) {
    .reverse{
        transform: translateX(-35vw);
    }
    .content_text_normal, .content_text_reverse{
        display: flex;
        justify-content: center;
        align-items: center;
        grid-row: 4/6;
        grid-column: 1/3;
    }
}

@media (max-width: 550px) {
    .content_image_normal, .content_image_reverse{
        grid-column: 1/3;
    }
    .content_title{
        font-size: 20px;
    }
    .white{
        top: 120px;
        left: 0;
        white-space:normal;
    }
    .hidden_box{
        display: none;
    }
    .min{
        top: -180px;
        left: 0px;
    }
    .reverse{
        transform: translateX(0);
    }
    .normal{
        transform: translate(0px, 0);
    }
}

.card{
    max-width: 290px;
    background: #dceff3;
}

.card h1, div, img{
    margin: 0;
    padding: 0;
}

.card_image{
    position: relative;
    padding: 0;
}

.icon-down{
    transform: translateY(2px);
}

.top{
    position: absolute;
    top: 15px;
    left: 15px;
}

.bottom{
    position: absolute;
    bottom: 15px;
    right: 15px;
}

.red{
    color: #FFF;
    font-family: Parangon 530C;
    font-size: 8px;
    text-transform: uppercase;
    background: #A32018;
    padding: 3px 5px;
}

.grey{
    color: #4F493F;
    font-family: Proxima Nova;
    font-size: 8px;
    background: #FFF;
    padding: 3px 5px;
}

.yellow{
    color: #FFF;
    font-family: Parangon 530C;
    font-size: 8px;
    text-transform: uppercase;
    background: #E0CD1C;
    padding: 3px 5px;
}

.green{
    color: #FFF;
    font-family: Parangon 530C;
    font-size: 8px;
    text-transform: uppercase;
    background: #087A28;
    padding: 3px 5px;
}

.card_content{
    max-width: 270px;
    margin: 0 auto;
    /* background: #dceff3; */
    /* transform: translateY(-15px); */
    /* padding-top: 15px; */
}

.card_content_category{
    color: #6E6659;
    font-family: Proxima Nova;
    font-size: 14px;
    margin-top: 10px;
}

.card_content_title{
    color: #264E58;
    font-family: Proxima Nova;
    font-size: 18px;
    font-weight: 600;
    margin-top: 5px;
}

.card_content_article{
    color: #264E58;
font-family: Proxima Nova;
font-size: 14px;
}

.card_content_price{
    color: #6E6659;
font-family: Proxima Nova;
font-size: 24px;
font-weight: 700;
}

.cards_container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 960px;
    margin: 0 auto;
    gap: 35px;
}

.main_container{
    background: url("./assets//form_bg_small.png");
    padding: 0 20px;
}

.form_flex{
    display: flex;
    justify-content: space-between;
}

.form_wrapper{
    padding: 209px 0 185px 0;
    max-width: 1300px;
    margin: 0 auto;
}

.form_title{
    color: #FFF;
    font-family: Gotham Pro;
    font-size: 70px;
    font-weight: 700;
    margin: 0;
    padding: 0;
}

.form_subtitle{
    color: #FFF;
    font-size: 18px;
    font-weight: 400;
    margin: 0 0 20px 5px;
}

.form_input{
    border: 1px solid #FFF;
    background: rgba(255, 255, 255, 0.15);
    height: 50px;
    width: 330px;
    /* margin-right: 40px; */
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    padding: 0 30px;
}

.form_input::placeholder{
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
}

.telephone{
    position: relative;
}

.form_input_flag{
    position: absolute;
    top: 50%;
    left: 17px;
    transform: translateY(-10px);
}

.tel{
    padding: 0 55px;
}

.form_footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}

.form_footer p{
    margin: 0;
    padding: 0;
}

.form_footer_license{
    max-width: 720px;
    color: #FFF;
    font-size: 14px;
    font-weight: 400;
}

.form_footer_license_link{
    color: #EB7979;
    font-size: 14px;
    font-weight: 400;
    text-decoration-line: underline;
}

.form_footer_button{
    color: #000;
    font-size: 16px;
    font-weight: 400;
    padding: 13px 80px;
}